<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Añadir</h1>

    <form method="POST">
        <p>Nombre</p>
        <input type="text" name="nombre">
        <p>Apellido</p>
        <input type="text" name="apellido">
        <p>Color Favorito</p>
        <input type="text" name="color">
        <p>Animal Favorito</p>
        <input type="text" name="animal">
        <button type="submit">Añadir</button>
    </form>





    <a href="{{url_for("index")}}">Volver</a>
    
</body>
</html>